.navbar {
    background-color: transparent; // Bootstrap override.
    transition: var(--main-transition);

    .navbar-brand {
        img {
            max-height: 55px;
        }
    }

    // Bootstrap override.
    .navbar-toggler {
        outline: none !important;
        border: none !important;
    }

    .navbar-nav {
        background-color: var(--white);
        margin: 1rem 0;
    }

    .nav-link {
        padding: 1.5rem 1rem 1.5rem 1rem;
        font-weight: 700;
        font-size: 14px;
        color: var(--black);
        letter-spacing: 0.5px;
        text-transform: uppercase;
        transition: var(--main-transition);

        &:hover,
        &:active {
            color: var(--primary);
        }
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        .navbar-nav {
            background-color: transparent;
        }
    }
}